@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css');
@font-face {
  font-family: 'Indelible';
  src: url(Fonts/Indelible.otf) format('opentype');
}
@font-face {
  font-family: 'VCR';
  src: url(Fonts/VCR.ttf) format('truetype');
}

body {
  background-image: linear-gradient( rgba(0.5, 0.5, 0.5, 0.3), rgba(0, 0, 0, 0.4) ), url('img/SYNTH_BG.jpg'); ;
  background-color: #6d6d6d ;
  height: 1080px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */ 
  background-attachment: fixed;
  background-size: cover; /* Resize the background image to cover the entire container */
}

.navbar {
  background-color: rgb(218, 218, 218);
  font-family: 'VCR', sans-serif;
}

.violet-text {
  color: rgb(68, 4, 172) !important;
}

.navbar-brand {
  font-family: 'Indelible', sans-serif;
}
